body{
    background-color: rgb(255, 253, 253);
    color: rgb(255, 254, 254);
    margin: 0px;
}

header{
    border-bottom: inset 3px hsla(311, 87%, 91%, 1.00);
    padding: 15px;
    font-size: 30px;
    color: rgb(245, 50, 219)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(248, 186, 235)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255)
}